[Desktop Entry]
Encoding=UTF-8
Name=Denarius
Comment=Denarius [D] Hybrid P2P Cryptocurrency
Comment[fr]=Denarius, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Denarius, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Denarius
Terminal=false
Type=Application
Icon=/share/pixmaps/denarius-128.png
MimeType=x-scheme-handler/denarius;
Categories=Finance;
